body {
  background-image: url('../images/bgi.png');
}

#splash {
  text-align: center;
  color: red;
}

#content {
  background-color: white;
  padding: 20px;
}

.menuBar {
  width: 100%;
  position: fixed; 
  top: 0; 
  width: 100%;
}

.menuList {
  text-align: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

.menuItem {
  width: 100%;
  padding: 0;
  color: red;
}