
.app-header {
  text-align: center;
}

#content {
  background-color: white;
  padding: 20px;
}

.menuList {
  text-align: center;
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.menuItem {
  display: inline;
  padding: 0 20px;
  vertical-align: center;  
}

.menuItem a {
  color: white;
  font-size: 16px;
}

.menu {
  background-color: grey;
  height: 50px;
  padding: 0 40px;
}

.logOut {
  float: right;
  font-size: 16px;
  color: white;
}
