body {
  background-image: url('../images/bgi.png');
}

.app-header {
  text-align: center;
}

#content {
  background-color: white;
  padding: 20px;
}

.menuList {
  text-align: center;
  width: 100%;
  list-style: none;
}

.menuItem {
  display: inline;
  padding: 0 20px;
  color: red;
}

